<div class="dashboard-container">
  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/img/HONDAHORIZONTAL.png" alt="HONDA" class="logo" />
    <div class="divider"></div>
  </div>

  <!-- Botones -->
  <div [ngClass]="{
    'grid-buttons-admin': rolUsuario === 'Administrador',
    'grid-buttons-vendedor': rolUsuario === 'Vendedor'
  }">
    <!-- Botón VENTAS -->
    <button
      class="dashboard-btn ventas"
      *ngIf="rolUsuario === 'Administrador' || rolUsuario === 'Vendedor'"
      (click)="goTo('ventas')">
      VENTAS
    </button>

    <!-- Botón REPORTES -->
    <button
      class="dashboard-btn reportes"
      *ngIf="rolUsuario === 'Administrador'"
      (click)="goTo('reportes')">
      REPORTES
    </button>

    <!-- Botón INVENTARIO -->
    <button
      class="dashboard-btn inventario"
      *ngIf="rolUsuario === 'Administrador' || rolUsuario === 'Vendedor'"
      (click)="goTo('inventario')">
      INVENTARIO
    </button>

    <!-- Botón USUARIOS -->
    <button
      class="dashboard-btn usuarios"
      *ngIf="rolUsuario === 'Administrador'"
      (click)="goTo('usuarios')">
      USUARIOS
    </button>
  </div>

  <!-- Línea divisoria inferior según el rol -->
  <div
    [ngClass]="{
      'bottom-divider': rolUsuario === 'Vendedor',
      'bottom-strong-divider': rolUsuario === 'Administrador'
    }">
  </div>

  <!-- Footer -->
  <div class="footer">
    <span>Bienvenido: {{ nombreUsuario }}</span>
    <span>Rol: {{ rolUsuario }}</span>
    <button class="logout-btn" (click)="logout()">Cerrar sesión</button>
  </div>
</div>
